.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.logo {
  height: 50px;
  width: 200px;
  background-image: url(../../public/media/blablachamb-low-resolution-logo-color-on-transparent-background.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.links a {
  margin-right: 50px;
  text-decoration: none;
  color: #5ebc67;
  font-weight: 500;
}

.profile a {
  margin-right: 10px;
  text-decoration: none;
  color: #5ebc67;
}

button {
  padding: 8px 16px;
  background-color: #4de65c;
  color: #fff;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #64b37f;
  cursor: pointer;
}

.rides {
  padding: 8px 16px;
  background-color: #81c784;
  color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  text-transform: uppercase;
}

.rides:hover {
  background-color: #64b37f;
  cursor: pointer;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container i.fa-home {
  color: green;
  margin-left: 200px;

}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #82d69f;
}

.search-bar button {
  padding: 8px;
  background-color: #4de65c;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-left: 8px;
}

.search-bar button:hover {
  background-color: #64b37f;
  cursor: pointer;
}

/* Styles pour le menu burger */
.navbar-toggle-icon {
  display: none; /* Cacher le label par défaut */
  cursor: pointer;
}

.navbar-toggle-icon span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #64b37f;
  margin-bottom: 5px;
  transition: transform 0.3s ease-in-out;
}

/* Styles pour le menu burger actif */
#navbar-toggle:checked + .navbar-toggle-icon span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

#navbar-toggle:checked + .navbar-toggle-icon span:nth-child(2) {
  opacity: 0;
}

#navbar-toggle:checked + .navbar-toggle-icon span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Styles pour le menu déroulant du burger menu */
#navbar-toggle:checked ~ .links,
#navbar-toggle:checked ~ .profile {
  display: block;
}

@media (max-width: 767px) {
  /* Cacher la navbar classique */
  .logo,
  .search-bar,
  .links,
  .profile {
    display: none;
  }

  /* Afficher le label du menu burger */
  .navbar-toggle-icon {
    display: block;
  }

  /* Réorganiser la position du label du menu burger */
  .navbar-toggle-icon {
    order: 1;
  }
  
  /* Styles pour le menu déroulant du burger menu */
  #navbar-toggle:checked ~ .logo,
  #navbar-toggle:checked ~ .search-bar {
    display: block;
  }
}