.heroBanner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  height: 100vh;
  width: 100vw;
  background-color: rgb(34, 255, 181);
  background-image: url(../../public/media/background_remover_hero_banner_png);
  background-repeat: no-repeat;
  background-size: contain;
}

.heroTitle {
  color: white;
  font-weight: 500;
  font-size: 5rem;

}

// @media screen and (max-width: 768px) {
//   .heroTitle {
//     font-size: 3rem;
//     margin-top: 100px;
//   }
// }
