<nav class="navbar">
	<div class="logo">
	</div>
	<div class="links">
		<a href="{{ path('offers') }}">Covoiturage</a>
		<a href="{{ path('offersDetail') }}">Bus</a>
		<a href="{{ path('offersTest') }}">Covoiturage quotidien</a>
	</div>
	<div class="profile">
		<a href="#">Profil utilisateur</a>
		<button>Publier un trajet</button>
	</div>
</nav>
