<div class="offerTeaser"> {% block title %}{% endblock %}{% block description %}{% endblock %}{% block price %}{% endblock %}

	</div>
	<div class="offerTeaser"> {% block title %}{% endblock %}{% block description %}{% endblock %}{% block price %}{% endblock %}

		</div>
